@tailwind base;
@tailwind components;
@tailwind utilities;

.flip-card {
  background-color: transparent;
  width: 400px;
  height: 500px;
  perspective: 1000px;
  font-family: sans-serif;
}
p{
  font-weight: bolder;
  font-size:1.1em;
}
.title {
  font-size: 3em;
  font-weight: 900;
  text-transform: capitalize;
  text-align: center;
  margin: 0;
}
.title2 {
  font-size: 1.5em;
  font-weight: 900;
  text-transform: capitalize;
  text-align: center;
  margin: 0;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card-front, .flip-card-back {
  box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border: 1px solid coral;
  border-radius: 1rem;
  padding:4px;
}

.flip-card-front {
  background: linear-gradient(120deg, bisque 60%, rgb(255, 231, 222) 88%, rgb(255, 211, 195) 40%, rgba(255, 127, 80, 0.603) 48%);
  color: coral;
}

.flip-card-back {
  background: linear-gradient(120deg, rgb(247, 161, 129) 30%, coral 88%, bisque 40%, rgb(255, 185, 160) 78%);
  color: white;
  transform: rotateY(180deg);
}

@media(max-width:1024px){
  .flip-card-front, .flip-card-back {
  padding: 6px;
  }
  .flip-card {
  width:95%;
  height:80dvh;
  }
  .title2{
    font-size: 1.2em;
  }
  .title{
    font-size: 2.5em;
  }
}